@charset "UTF-8";
@font-face {
  font-family: "SuperLegendBoy";
  src: url("/../../assets/fonts/SuperLegendBoy.ttf");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

.main__sub--3, .main__sub--2, .main__sub--1 {
  font-family: "Abril Fatface", "Amiri";
  color: white;
  font-weight: normal;
}

.main__sub--slogan {
  font-family: "Amiri";
  color: white;
  font-weight: normal;
}

.footer__rrss {
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
  padding: 10px;
}

/* Variables para MQueries*/
.header__nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
}
.header__nav div .navbar-toggler {
  width: 40px;
  height: 40px;
  padding: 20px;
  position: relative;
  transition: 0.5 ease-in-out;
  right: 5px;
  top: 5px;
  outline: none;
  box-shadow: none;
}
.header__nav div .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}
.header__nav div .navbar-toggler:active {
  outline: none;
  box-shadow: none;
  border: 0;
}
.header__nav div .navbar-toggler .toggler-icon {
  width: 100%;
  height: 3px;
  padding: 0;
  margin: 0;
  display: block;
  position: absolute;
  background-color: #f1b8d3;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  border: 2px solid #f1b8d3;
}
.header__nav div .navbar-toggler .toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}
.header__nav div .navbar-toggler .middle-bar {
  margin-top: 0px;
}
.header__nav div .navbar-toggler .top-bar {
  position: absolute;
  margin-top: 0px;
  transform: rotate(135deg);
}
.header__nav div .navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}
.header__nav div .navbar-toggler .bottom-bar {
  margin-top: 0;
  transform: rotate(-135deg);
}
.header__nav div .collapsed .top-bar {
  /* Estado cuando el navbar está colapsado*/
  margin-top: -25px;
  /* margin-top: -40px; MQ LARGE*/
  transform: rotate(0deg);
}
.header__nav div .collapsed .middle-bar {
  /* Estado cuando el navbar está colapsado*/
  opacity: 1;
  filter: alpha(opacity=100);
}
.header__nav div .collapsed .bottom-bar {
  /*Estado cuando el navbar está colapsado*/
  margin-top: 25px;
  /*margin-top: 40px; MQ LARGE*/
  transform: rotate(0deg);
}
.header__nav div .nav__linkcontainer {
  background-color: rgba(0, 0, 0, 0.95);
  height: 30rem;
}
.header__nav div .nav__linkcontainer .nav__links .nav__item {
  padding: 15px;
}
.header__nav div .nav__linkcontainer .nav__links .nav__item:hover {
  transition: 0.5s ease-in;
}
.header__nav div .nav__linkcontainer .nav__links .nav__item .nav__link {
  font-family: "Abril Fatface", "Amiri";
  font-size: 3rem;
  letter-spacing: 0.4rem;
  line-height: 1rem;
  color: pink;
}
.header__nav div .nav__linkcontainer .nav__links .nav__item .nav__link:hover {
  border: 0.5px solid white;
  background-color: rgba(220, 101, 231, 0.8);
  color: white;
}

.main__sub--3, .main__sub--2, .main__sub--1 {
  font-family: "Abril Fatface", "Amiri";
  color: white;
  font-weight: normal;
}

.main__sub--slogan {
  font-family: "Amiri";
  color: white;
  font-weight: normal;
}

.footer__rrss {
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
  padding: 10px;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: black;
}
.main__title {
  width: 100vw;
  justify-self: center;
  font-family: "Antic Didone";
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.5rem;
  color: white;
  user-select: none;
}
.main__sub {
  align-self: flex-start;
  margin-top: -9rem;
  display: grid;
  grid-template-columns: 6.25rem, 1fr, 1fr;
  grid-template-rows: 1fr, 0.5fr, 1fr;
  grid-template-areas: "ms1 ms1 ms1" "ms2 ms3 ms3" "ms2 slogan slogan";
  justify-content: center;
  width: 100%;
  height: 100px;
  padding: 3px;
  z-index: 90;
  user-select: none;
}
.main__sub--1 {
  grid-area: ms1;
  font-size: 1.8rem;
  justify-self: start;
  margin: 10px 0 0 10px;
  letter-spacing: 1px;
  user-select: none;
}
.main__sub--2 {
  grid-area: ms2;
  font-size: 3.8rem;
  margin: -15px 0 0 8px;
  user-select: none;
}
.main__sub--3 {
  grid-area: ms3;
  margin: -5px 0 0 0;
  font-size: 1.65rem;
  user-select: none;
}
.main__sub--slogan {
  grid-area: slogan;
  margin: -10px 0 0 5px;
  font-size: 1.1rem;
  letter-spacing: 0.75px;
  user-select: none;
}
.main__ico {
  align-self: center;
  justify-self: baseline;
  display: flex;
  width: 15.5rem;
  justify-content: space-evenly;
  align-items: center;
}
.main__ico--mod1 {
  width: 15px;
}
.main__ico--mod2 {
  width: 25px;
}

@keyframes shine {
  0% {
    top: 310px;
    right: 100px;
    background: rgba(238, 187, 231, 0.7);
  }
  100% {
    top: -250px;
    right: -150px;
    background: white;
  }
}
@keyframes float {
  0% {
    transform: translateY(-1px);
  }
  50% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(-1px);
  }
}
@keyframes iconrotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
/* Sección index Section - Carrusel de tarjetas */
.isection {
  height: 100%;
  background-color: #e27eda;
  overflow-x: hidden;
}
.isection__parrafo {
  position: relative;
  margin: 3rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  font-family: "Amiri";
  user-select: none;
}
.isection__parrafo--p1 {
  z-index: 9999;
  width: 6rem;
  align-self: flex-start;
  margin-top: 7rem;
  margin-bottom: 10rem;
  font-size: 2rem;
  line-height: 1.6rem;
  text-align: start;
  transition: 0.5s color ease-in 1s;
}
.isection__parrafo--emptybox1 {
  position: absolute;
  left: 10rem;
  top: 5rem;
  width: 22rem;
  height: 16rem;
  background-color: #2431a0;
}
.isection__parrafo--p2 {
  z-index: 999;
  align-self: flex-end;
  width: 10rem;
  font-size: 2rem;
  line-height: 1.5rem;
  text-align: end;
  margin-bottom: 12rem;
}
.isection__parrafo--emptybox2 {
  position: absolute;
  right: 12rem;
  top: 28rem;
  width: 22rem;
  height: 18rem;
  background-color: #2431a0;
}
.isection__parrafo--p3 {
  z-index: 999;
  width: 6rem;
  align-self: center;
  font-size: 2.8rem;
  line-height: 1.5rem;
  text-align: center;
}
.isection__parrafo--emptybox3 {
  z-index: 998;
  position: absolute;
  right: 9rem;
  bottom: 15rem;
  width: 8rem;
  height: 8rem;
  background-color: white;
}
.isection__parrafo--link {
  margin-top: 6rem;
  align-self: center;
  width: 12rem;
  text-align: center;
  color: black;
  box-shadow: 1px 3px 4px black;
}
.isection__parrafo--link:hover {
  font-weight: bolder;
  color: white;
}
.isection__parrafo--emptybox4 {
  position: absolute;
  left: 9rem;
  bottom: 7rem;
  width: 8rem;
  height: 8rem;
  background-color: #2431a0;
}
.isection__arrowL, .isection__arrowR {
  height: 100px;
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-evenly;
  position: absolute;
  color: white;
  font-size: 30px;
  opacity: 0.6;
}
.isection__arrowL {
  left: 25px;
}
.isection__arrowR {
  right: 25px;
}
.isection__slidercontainer {
  height: 600px;
  display: inline-flex;
  overflow: hidden;
  scrollbar-width: none;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}
.isection__slidercontainer--slide {
  max-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  user-select: none;
  transition: transform 0.3s ease-in-out;
}
@media (min-width: 1200px) {
  .isection__slidercontainer--slide {
    padding: 3rem;
  }
}

/* Tarjetas */
.card {
  position: relative;
  width: 12.5rem;
  height: 21.875rem;
  background-color: white;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  user-select: none;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 1.1rem 0.94rem 0.6rem rgba(8, 8, 8, 0.651), inset 0.625rem 0.625rem 3.125rem rgba(129, 107, 59, 0.76);
}
.card::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: calc(-100% + 5px);
  width: 100%;
  height: 100%;
  background-color: #ff56ac;
  box-shadow: inset 5px 5px 50px rgba(49, 20, 20, 0.76);
  transition: bottom 0.5s ease-in-out;
}
.card:hover::before {
  bottom: 0;
}
.card::after {
  content: "";
  z-index: 4;
  position: absolute;
  right: 6.25rem;
  top: 19.375rem;
  width: 200%;
  height: 9.375rem;
  background: rgba(238, 187, 231, 0.7);
  box-shadow: 1.25rem 1.25rem 2.5rem white;
  transform: skewY(40deg);
  filter: blur(4px);
}
.card:hover::after {
  animation: shine 0.3s ease-in-out 0.5s;
}
.card__content {
  z-index: 2;
  position: relative;
  padding: 1.25rem;
  height: 22rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: black;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
  transition: color 0.7s ease-in;
}
.card__content:hover {
  color: white;
}
.card__content--title {
  margin: 10px 0;
  font-family: "Abril Fatface";
  font-size: 1.8rem;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.3rem;
  border-top: 2px double black;
  border-bottom: 2px double black;
}
.card__content--par {
  align-self: center;
  font-family: "Antic Didone";
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
  font-size: 1rem;
  text-align: center;
  line-height: 1.125rem;
  letter-spacing: 1px;
}
.card__content--par2 {
  align-self: center;
  font-family: "Antic Didone";
  margin-top: 3px;
  margin-bottom: 5px;
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
}
.card__content--btn {
  width: 7rem;
  height: 40px;
  padding: 6px 10px;
  align-self: center;
  justify-self: baseline;
  text-decoration: none;
  font-family: "Antic Didone";
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-align: center;
  text-transform: uppercase;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  color: white;
  background-color: black;
  box-shadow: 10px 10px 30px #030303;
  z-index: 10;
}

.main__sub--1, .main__sub--2, .main__sub--3 {
  font-family: "Abril Fatface", "Amiri";
  color: white;
  font-weight: normal;
}

.main__sub--slogan {
  font-family: "Amiri";
  color: white;
  font-weight: normal;
}

.footer__rrss {
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
  padding: 10px;
}

/* INDEX FOOTER */
.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 50px 1fr 100px;
  gap: 15px;
  background-color: black;
  z-index: 5;
  grid-template-areas: "titulo" "rrss" "formulario" "irarriba";
}
.footer__title {
  grid-area: titulo;
  padding: 1rem;
  margin-top: 3.2rem;
  font-family: "Abril Fatface";
  font-size: 3rem;
  font-weight: lighter;
  letter-spacing: 0.5rem;
  text-align: center;
  color: #fdfdfd;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
}
.footer__rrss {
  grid-area: rrss;
}
.footer__rrss .form__ico--img {
  width: 18px;
  height: 18px;
}
.footer .form {
  grid-area: formulario;
  background-color: black;
  display: flex;
  flex-direction: column;
}
.footer .form__container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.footer .form__container--title {
  color: white;
  font-family: "Antic Didone";
  font-size: 1.5rem;
  letter-spacing: 3px;
  transform: scaleY(1.2);
}
.footer .form__container--fill {
  height: 30px;
  width: 200px;
}
.footer .form__container--textarea {
  height: 200px;
  width: 200px;
}
.footer .form__container div .form__button {
  padding: 0 1rem;
  background-color: black;
  font-family: "Amiri";
  font-size: 2rem;
  color: white;
  border: none;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3);
}
.footer .form__container div .form__button:hover {
  color: #ff002b;
}
.footer .form__ico--arriba {
  grid-area: irarriba;
  justify-self: center;
}
.footer .form__ico--arriba i {
  font-size: 3rem;
  color: white;
}

/* FOOTER ROJO - SOUNDS MUSIC ABOUT US SHOP*/
.page-footer {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2rem 3fr 0.5fr;
  grid-template-areas: "titulo" "rrss" "formulario" "irarriba";
  align-content: space-evenly;
  justify-items: center;
  background-color: #f1b8d3;
}
.page-footer__title {
  grid-area: titulo;
  align-self: flex-end;
  font-family: "Abril Fatface";
  font-size: 2.3rem;
  color: black;
}
.page-footer__rrss {
  grid-area: rrss;
  align-self: center;
  display: flex;
  justify-content: space-around;
  width: 20rem;
  padding: 0.2rem;
}
.page-footer__arrow {
  grid-area: irarriba;
  align-self: center;
  margin-bottom: 0.5rem;
}

.page-form {
  grid-area: formulario;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 0.4rem;
  font-family: "SuperLegendBoy";
  font-size: 1rem;
  background-color: red;
  overflow: hidden;
}
.page-form__container--title {
  font-size: 1.5rem;
  text-align: center;
  color: #4b1f1f;
  text-shadow: 2px 2px 4px white;
}
.page-form__container--fill {
  height: 2rem;
  width: 12.5rem;
  font-family: "SuperLegendBoy";
}
.page-form__container--fill2 {
  height: 2rem;
  width: 12.5rem;
  font-family: "SuperLegendBoy";
}
.page-form__container--textarea {
  font-family: "SuperLegendBoy";
  font-size: 1rem;
  height: 9.375rem;
  width: 12.5rem;
}
.page-form__container div .page-form__button {
  background-color: #c00020;
  font-family: "SuperLegendBoy";
  font-size: 1rem;
  border: none;
  height: 1.5rem;
  width: 6rem;
}

/* MAPS */
.sound__section {
  display: flex;
  flex-direction: column;
  height: 600px;
  background-color: #f1b8d3;
  color: black;
  justify-content: space-evenly;
  align-items: center;
}
.sound__section .sound__title {
  margin-top: 50px;
  align-self: center;
  font-family: "Abril Fatface";
  font-weight: lighter;
  font-size: 2rem;
}
.sound__section .page__text {
  width: 80%;
  height: 300px;
  padding: 0;
  margin-top: 100px;
  font-family: "Amiri";
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

/* ESTILOS PAGINAS SOUND Y MUSIC */
.multimedia {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: #f1b8d3;
  justify-content: space-evenly;
  align-items: center;
}
.multimedia__title {
  margin-top: 50px;
  align-self: center;
  font-family: "Abril Fatface";
  font-weight: lighter;
  font-size: 4rem;
  text-shadow: 3px 3px 4px rgba(29, 18, 28, 0.473);
}
.multimedia__animation {
  width: 80%;
  border: 0.25rem solid #f17aec;
  object-fit: cover;
  margin-bottom: 0.5rem;
}
.multimedia__descripcion {
  padding: 2rem;
  font-family: "Amiri";
  font-size: 1.4rem;
  line-height: 1.4rem;
  text-align: center;
  color: #f1b8d3;
}
.multimedia__link-button {
  position: absolute;
  bottom: 2rem;
  width: 20rem;
  padding: 0.5rem;
  font-family: "SuperLegendBoy";
  font-size: 1rem;
  text-align: center;
  align-self: center;
  color: black;
  background-color: #f17aec;
  border: 0.125rem solid black;
}

/* REPRODUCTOR DE SONIDO 
(POR AHORA SOLO EN PAGINA => MUSIC */
.sound-container {
  align-self: center;
  height: 100vh;
  padding: 1rem;
  display: flex;
  justify-content: center;
  user-select: none;
  background-color: black;
}
.sound-container .music-player {
  align-self: center;
  height: 20rem;
  max-width: 32rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 3rem 2fr 1fr;
  grid-template-areas: "player player" "controls controls" "playlist playlist" "button button";
  justify-content: center;
}
.sound-container .music-player .player {
  grid-area: player;
  display: flex;
  justify-content: center;
  background-image: url("../../assets/multi-img/giphy.gif");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.sound-container .music-player .player .player-title {
  justify-self: center;
  align-self: center;
  font-family: "SuperLegendBoy";
  font-size: 1.5rem;
  text-shadow: 2px 2px 1px white;
  background-color: rgba(255, 255, 255, 0.7);
}
.sound-container .music-player .playlist {
  grid-area: playlist;
  height: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(190, 36, 88, 0.89);
}
.sound-container .music-player .playlist h2 {
  font-family: "SuperLegendBoy";
  font-size: 1.3em;
  text-align: center;
  text-transform: uppercase;
  color: white;
  text-shadow: 3px 3px 0px purple, 5px 5px 0px green, 7px 7px 0px darkred;
}
.sound-container .music-player .playlist .player-title {
  color: white;
  border-bottom: 1px solid black;
}
.sound-container .music-player .playlist ul {
  margin-right: 20px;
  list-style-type: none;
}
.sound-container .music-player .playlist ul li {
  padding: 5px;
  font-family: "SuperLegendBoy";
  font-size: 1rem;
  color: #fffbfb;
  border-bottom: 1px solid #ddd;
  text-shadow: 1px 1px 1px black;
  cursor: pointer;
}
.sound-container .music-player .playlist ul li:hover {
  color: grey;
}
.sound-container .music-player .controls {
  grid-area: controls;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3rem;
  background-image: url("../../assets/multi-img/player-texture.gif");
  opacity: 0.8;
}
.sound-container .music-player .controls button {
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
  padding: 0.5rem;
}
.sound-container .music-player .controls .control-btn {
  font-size: 2rem;
  color: white;
  text-shadow: 3px 3px 0px purple, 5px 5px 0px green, 7px 7px 0px darkred;
}
.sound-container .music-player .controls .playpause-btn {
  font-size: 1.5rem;
  color: white;
  text-shadow: 3px 3px 0px purple, 5px 5px 0px green, 7px 7px 0px darkred;
}
.sound-container .music-player .controls .slidecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.sound-container .music-player .controls .slidecontainer .slide-icon {
  color: #ffffff;
  font-size: 2rem;
}
.sound-container .music-player .controls .slidecontainer .slider {
  -webkit-appeance: none;
  background: #fff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: 0.2;
  border-radius: 10px;
  margin: 0 1.25rem;
  font-size: 0.5rem;
}
.sound-container .music-player .controls .slidecontainer .slider:hover {
  opacity: 1;
}
.sound-container .music-player__link-button {
  grid-area: button;
  width: 12rem;
  padding: 0.5rem;
  font-family: "SuperLegendBoy";
  font-size: 1rem;
  text-align: center;
  align-self: center;
  justify-self: center;
  color: black;
  background-color: #f17aec;
  border: 0.125rem solid white;
}

.main__sub--1, .main__sub--2, .main__sub--3 {
  font-family: "Abril Fatface", "Amiri";
  color: white;
  font-weight: normal;
}

.main__sub--slogan {
  font-family: "Amiri";
  color: white;
  font-weight: normal;
}

.footer__rrss {
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
  padding: 10px;
}

/*------------------*/
/*       SHOP       */
/*------------------*/
/* NAVBAR SETTINGS PARA EL SHOP */
/* cambio de color al boton del menu hamburguesa*/
.pages-toggler-icon {
  width: 100%;
  height: 3px;
  padding: 3px;
  margin-right: 15px;
  margin-bottom: 10px;
  display: block;
  position: absolute;
  background-color: black;
  opacity: 1;
  left: 0;
  box-shadow: 2px 2px 1px white;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.pages-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

/* SHOP MAIN MENU */
.shop-main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f1c3d9;
}
.shop-main__titles {
  user-select: none;
}
.shop-main__titles--title {
  font-family: "SuperLegendBoy";
  font-size: 4rem;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.6);
  color: white;
  margin-bottom: -10px;
}
.shop-main__titles--sub {
  font-family: "SuperLegendBoy";
  font-size: 1.35rem;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.6);
}
.shop-main .main-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: white;
  cursor: url(../../assets/punteros/punterodiagonal.png) 0 0, pointer;
}
.shop-main .main-selector__list--link {
  margin: 2px 2px;
  font-family: "SuperLegendBoy";
  font-size: 1.25rem;
  text-transform: uppercase;
  text-align: justify;
  letter-spacing: 2px;
  text-shadow: 1px 1px 4px black;
}
.shop-main .main-selector__list--link a {
  color: #f15dc5;
}
.shop-main .main-selector__list--link:hover {
  background-color: grey;
  width: 100%;
}
.shop-main .main-selector__ico img {
  width: 120px;
  height: 120px;
}

/*
SHOP - SECCIONES: MERCH, SONIDOS
MUSICA, CURSOS, CONTACTO-
*/
.shop {
  height: 100vh;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 3.75rem 2fr 3rem;
  align-self: center;
  gap: 0.3rem;
  padding: 0.8px;
  overflow: hidden;
}
.shop__title {
  grid-column: 1/3;
  grid-row: 1/2;
  padding: 0.15rem;
  justify-self: flex-start;
  font-family: "SuperLegendBoy";
  font-size: 3.8rem;
  color: white;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.6);
  user-select: none;
}
.shop__subtitle {
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 0.15rem;
  font-family: "SuperLegendBoy";
  font-size: 3rem;
  text-orientation: upright;
  writing-mode: vertical-lr;
  color: #f1b8d3;
  text-shadow: 5px 2px 0px white;
  user-select: none;
}
.shop .cards {
  grid-column: 2/3;
  grid-row: 2/3;
  height: 25rem;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: inset 4px 4px 1px black;
  overflow-x: scroll;
  border: 8px solid black;
  background-image: url("../../assets/multi-img/player-texture.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
.shop .cards__card {
  margin: 0 1rem;
  height: 20rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 9px 9px 1px rgba(0, 0, 0, 0.6), inset 1px 1px 100px rgba(190, 128, 12, 0.473);
  user-select: none;
}
.shop .cards__card--title {
  margin-top: 0.5rem;
  font-family: "SuperLegendBoy";
  font-size: 1rem;
  text-align: center;
}
.shop .cards__card--description {
  margin-top: 0.1rem;
  font-family: "SuperLegendBoy";
  font-size: 14px;
  text-align: center;
}
.shop .cards__card--img {
  align-self: center;
  width: 14rem;
  height: 13rem;
  object-fit: cover;
  box-shadow: 3px 4px 0px rgba(0, 0, 0, 0.6);
}
.shop .cards__card--img_musica {
  width: 14rem;
  height: 14rem;
  object-fit: cover;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.6);
}
.shop .cards__card--img_musica2 {
  width: 14rem;
  height: 12rem;
  object-fit: fill;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.6);
}
.shop .cards__card--img_musica3 {
  align-self: center;
  width: 14rem;
  height: 15.5rem;
  object-fit: fill;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.6);
}
.shop .cards__card--btn {
  align-self: center;
  justify-self: flex-end;
  padding: 0.3rem;
  width: 5rem;
  height: 2rem;
  font-family: "SuperLegendBoy";
  font-size: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  background-color: black;
  border-radius: 0.8rem;
  color: white;
  box-shadow: 2px 2px 0px rgba(247, 1, 1, 0.527);
}
.shop .selector {
  height: 3rem;
  grid-column: 1/3;
  grid-row: 3/4;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 5px outset rgba(0, 0, 0, 0.3);
  background-color: white;
  user-select: none;
}
.shop .selector__link {
  font-family: "SuperLegendBoy";
  font-size: 1rem;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  list-style-type: none;
}
.shop .selector__link a {
  color: #f15dc5;
}
.shop .selector__link a:hover {
  background-color: grey;
}

/* Fondo de secciones del shop */
#merch {
  background-color: orange;
}

#sonidos {
  background-color: green;
}

#musica {
  background-color: blue;
}

#cursos {
  background-color: black;
}

/* PAGES FOOTER */
.page-footer {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2rem 3fr 0.5fr;
  grid-template-areas: "titulo" "rrss" "formulario" "irarriba";
  align-content: space-evenly;
  justify-items: center;
  background-color: red;
}
.page-footer__title {
  grid-area: titulo;
  align-self: flex-end;
  font-family: "SuperLegendBoy";
  font-size: 2.3rem;
  color: white;
}
.page-footer__rrss {
  grid-area: rrss;
  align-self: center;
  display: flex;
  justify-content: space-around;
  width: 20rem;
  padding: 0.2rem;
}
.page-footer__arrow {
  grid-area: irarriba;
  align-self: center;
  margin-bottom: 0.5rem;
}

.page-form {
  grid-area: formulario;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 0.4rem;
  font-family: "SuperLegendBoy";
  font-size: 1rem;
  background-color: red;
  overflow: hidden;
}
.page-form__container--title {
  font-size: 1.5rem;
  text-align: center;
  color: #4b1f1f;
  text-shadow: 2px 2px 4px white;
}
.page-form__container--fill {
  height: 2rem;
  width: 12.5rem;
  font-family: "SuperLegendBoy";
}
.page-form__container--fill2 {
  height: 2rem;
  width: 12.5rem;
  font-family: "SuperLegendBoy";
}
.page-form__container--textarea {
  font-family: "SuperLegendBoy";
  font-size: 1rem;
  height: 9.375rem;
  width: 12.5rem;
}
.page-form__container div .page-form__button {
  background-color: #c00020;
  font-family: "SuperLegendBoy";
  font-size: 1rem;
  border: none;
  height: 1.5rem;
  width: 6rem;
}

.aboutus {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  padding: 25px;
}
.aboutus__title {
  font-family: "SuperLegendBoy";
  font-size: 2.5rem;
  text-align: center;
  color: palevioletred;
  text-shadow: 2px 3px 1px white;
}
.aboutus__descripcion {
  padding: 10px;
  font-family: "SuperLegendBoy";
  font-size: 1rem;
  text-align: center;
  color: #6b3f3f;
}

/*--------------------------------------------*/
/*             MEDIA QUERIES                  */
/*--------------------------------------------*/
/* NAVBAR */
@media (min-width: 768px) {
  .header__nav div .navbar-toggler {
    width: 4rem;
    height: 80px;
    padding: 20px;
    right: 20px;
    top: 20px;
  }
}
@media (min-width: 768px) {
  .header__nav div .top-bar {
    height: 0.6rem;
  }
}
@media (min-width: 768px) {
  .header__nav div .middle-bar {
    height: 0.6rem;
  }
}
@media (min-width: 768px) {
  .header__nav div .bottom-bar {
    height: 0.6rem;
  }
}
@media (min-width: 768px) {
  .header__nav div .collapsed .top-bar {
    margin-top: -30px;
  }
}
@media (min-width: 768px) {
  .header__nav div .collapsed .bottom-bar {
    margin-top: 30px;
  }
}

/* INDEX MAIN */
@media (min-width: 480px) {
  .main__title {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .main__title {
    font-size: 2.2rem;
  }
}
@media (min-width: 1224px) {
  .main__title {
    font-size: 3.5rem;
  }
}
@media (min-width: 480px) {
  .main__sub {
    grid-template-columns: 10px, 10px;
    grid-template-rows: 100px, 1fr, 1fr;
  }
}
@media (min-width: 480px) {
  .main__sub--1 {
    font-size: 3rem;
  }
}
@media (min-width: 768px) {
  .main__sub--1 {
    font-size: 5rem;
  }
}
@media (min-width: 480px) {
  .main__sub--2 {
    font-size: 5rem;
    margin-top: -1.3rem;
  }
}
@media (min-width: 768px) {
  .main__sub--2 {
    font-size: 9rem;
    margin-top: -2.5rem;
  }
}
@media (min-width: 480px) {
  .main__sub--3 {
    font-size: 2.3rem;
  }
}
@media (min-width: 768px) {
  .main__sub--3 {
    font-size: 4rem;
    margin-top: -0.5rem;
  }
}
@media (min-width: 480px) {
  .main__sub--slogan {
    font-size: 1.6rem;
  }
}
@media (min-width: 768px) {
  .main__sub--slogan {
    font-size: 2.9rem;
    margin-top: -1rem;
  }
}
@media (min-width: 480px) {
  .main__ico {
    width: 25rem;
  }
}
@media (min-width: 768px) {
  .main__ico {
    width: 40rem;
  }
}
@media (min-width: 1224px) {
  .main__ico {
    width: 40rem;
  }
}
@media (min-width: 480px) {
  .main__ico--mod1 {
    width: 1.25rem;
  }
}
@media (min-width: 768px) {
  .main__ico--mod1 {
    width: 1.8rem;
  }
}
@media (min-width: 1224px) {
  .main__ico--mod1 {
    width: 1.5rem;
  }
}
@media (min-width: 480px) {
  .main__ico--mod2 {
    width: 2.5rem;
  }
}
@media (min-width: 768px) {
  .main__ico--mod2 {
    width: 3rem;
  }
}
@media (min-width: 1224px) {
  .main__ico--mod2 {
    width: 2.5rem;
  }
}

/* INDEX SECTION */
.isection {
  height: 100%;
  background-color: #e27eda;
  overflow-x: hidden;
}
@media (min-width: 480px) {
  .isection__parrafo--p1 {
    width: 6rem;
    font-size: 2.5rem;
    line-height: 2rem;
  }
}
@media (min-width: 768px) {
  .isection__parrafo--p1 {
    width: 8rem;
    font-size: 3.5rem;
    line-height: 2.3rem;
  }
}
@media (min-width: 1224px) {
  .isection__parrafo--p1 {
    width: 40rem;
    font-size: 6rem;
    line-height: 4rem;
  }
}
@media (min-width: 480px) {
  .isection__parrafo--emptybox1 {
    left: 18rem;
    top: 4.5rem;
    height: 20rem;
  }
}
@media (min-width: 768px) {
  .isection__parrafo--emptybox1 {
    left: 30rem;
    top: 4.5rem;
    height: 25rem;
  }
}
@media (min-width: 1224px) {
  .isection__parrafo--emptybox1 {
    left: 7rem;
    top: 1rem;
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
  }
}
@media (min-width: 480px) {
  .isection__parrafo--p2 {
    width: 11rem;
    font-size: 2.5rem;
    line-height: 2rem;
  }
}
@media (min-width: 768px) {
  .isection__parrafo--p2 {
    width: 14rem;
    font-size: 3.5rem;
    line-height: 2.3rem;
    margin-top: 20rem;
  }
}
@media (min-width: 1224px) {
  .isection__parrafo--p2 {
    width: 40rem;
    line-height: 2.4rem;
  }
}
@media (min-width: 480px) {
  .isection__parrafo--emptybox2 {
    right: 18rem;
    top: 30rem;
    height: 25rem;
  }
}
@media (min-width: 768px) {
  .isection__parrafo--emptybox2 {
    right: 30rem;
    top: 50rem;
    height: 35rem;
  }
}
@media (min-width: 1224px) {
  .isection__parrafo--emptybox2 {
    right: 0;
    top: 51.3rem;
    height: 20rem;
    width: 40rem;
  }
}
@media (min-width: 480px) {
  .isection__parrafo--p3 {
    width: 6rem;
    font-size: 2.8rem;
  }
}
@media (min-width: 768px) {
  .isection__parrafo--p3 {
    margin-top: 10rem;
    margin-bottom: 10rem;
    width: 10rem;
    font-size: 4rem;
    line-height: 3rem;
  }
}
@media (min-width: 1224px) {
  .isection__parrafo--p3 {
    font-size: 8rem;
    width: 40rem;
    line-height: 6rem;
  }
}
@media (min-width: 480px) {
  .isection__parrafo--emptybox3 {
    bottom: 17rem;
    width: 8rem;
  }
}
@media (min-width: 768px) {
  .isection__parrafo--emptybox3 {
    bottom: 29.5rem;
    width: 20rem;
    height: 14rem;
  }
}
@media (min-width: 1224px) {
  .isection__parrafo--emptybox3 {
    bottom: 29.5rem;
    width: 30rem;
    height: 19rem;
    right: 11.5rem;
  }
}
@media (min-width: 480px) {
  .isection__parrafo--emptybox4 {
    bottom: 9rem;
  }
}
@media (min-width: 768px) {
  .isection__parrafo--emptybox4 {
    bottom: 18rem;
    width: 20rem;
    height: 14rem;
  }
}
@media (min-width: 1224px) {
  .isection__parrafo--emptybox4 {
    bottom: 16rem;
    width: 30rem;
    height: 19rem;
    left: 16rem;
  }
}
@media (min-width: 480px) {
  .isection__parrafo--link {
    font-size: 3rem;
    width: 15rem;
  }
}
.isection__arrowL {
  left: 25px;
}
.isection__arrowR {
  right: 25px;
}
.isection__slidercontainer {
  height: 600px;
  display: inline-flex;
  overflow: hidden;
  scrollbar-width: none;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}
.isection__slidercontainer--slide {
  max-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  user-select: none;
  transition: transform 0.3s ease-in-out;
}
@media (min-width: 1200px) {
  .isection__slidercontainer--slide {
    padding: 3rem;
  }
}

/* /* Tarjetas */
@media (min-width: 1224px) {
  .card {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
