/* Error: expected "{".
 *     ,
 * 167 |                 @media and (min-width: 1224px){
 *     |                            ^
 *     '
 *   scss\components\_mediaqueries.scss 167:28  @import
 *   scss\main.scss 11:9                        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 167 \2502                  @media and (min-width: 1224px){\a     \2502                             ^\a     \2575 \a   scss\\components\\_mediaqueries.scss 167:28  @import\a   scss\\main.scss 11:9                        root stylesheet';
}
