@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  background-color: black;
}

.main__title {
  padding: 10px;
  font-family: "Antic Didone";
  color: white;
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 0.4rem;
  text-align: center;
}

.main__subtcontainer--subt3, .main__subtcontainer--subt2, .main__subtcontainer--subt1 {
  font-family: "Abril Fatface", "Amiri";
  color: white;
  font-weight: normal;
}

.main__subtcontainer--slogan {
  font-family: "Amiri";
  color: white;
  font-weight: normal;
}

.header__nav div .nav__linkcontainer .nav__links .nav__item .nav__link {
  font-family: "Abril Fatface", "Amiri";
  color: pink;
  letter-spacing: 4px;
  line-height: 3.2rem;
  font-size: 3rem;
}

.header__nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
}
.header__nav div .navbar-toggler {
  width: 35px;
  height: 30px;
  padding: 0;
  position: relative;
  transition: 0.5 ease-in-out;
  right: 5px;
  top: 5px;
  outline: none;
  box-shadow: none;
  border: 0;
  /*
  @media screen and (width: 1224px){
      @include w-h-pad(60px, 60px, 0);
  }
  */
}
.header__nav div .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}
.header__nav div .navbar-toggler:active {
  outline: none;
  box-shadow: none;
  border: 0;
}
.header__nav div .navbar-toggler .toggler-icon {
  width: 100%;
  height: 3px;
  padding: 0;
  margin: 0;
  display: block;
  position: absolute;
  background-color: #f1b8d3;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.header__nav div .navbar-toggler .toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}
.header__nav div .navbar-toggler .middle-bar {
  margin-top: 0px;
}
.header__nav div .navbar-toggler .top-bar {
  position: absolute;
  margin-top: 0px;
  transform: rotate(135deg);
}
.header__nav div .navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}
.header__nav div .navbar-toggler .bottom-bar {
  margin-top: 0;
  transform: rotate(-135deg);
}
.header__nav div .collapsed .top-bar {
  /* Estado cuando el navbar está colapsado*/
  margin-top: -20px;
  transform: rotate(0deg);
}
.header__nav div .collapsed .middle-bar {
  /* Estado cuando el navbar está colapsado*/
  opacity: 1;
  filter: alpha(opacity=100);
}
.header__nav div .collapsed .bottom-bar {
  /* Estado cuando el navbar está colapsado*/
  margin-top: 20px;
  transform: rotate(0deg);
}
.header__nav div .nav__linkcontainer {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 30px;
}
.header__nav div .nav__linkcontainer .nav__links .nav__item {
  padding: 15px;
}
.header__nav div .nav__linkcontainer .nav__links .nav__item:hover {
  transition: 0.5s ease-in;
}
.header__nav div .nav__linkcontainer .nav__links .nav__item .nav__link:hover {
  background-color: rgba(220, 101, 231, 0.8);
  border: 0.5px solid white;
  color: white;
  transition: border 0.5s ease-in, background-color 0.3s ease-in, color 0.5s ease-in-out 0.1s;
}

.main__title {
  padding: 10px;
  font-family: "Antic Didone";
  color: white;
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 0.4rem;
  text-align: center;
}

.main__subtcontainer--subt3, .main__subtcontainer--subt2, .main__subtcontainer--subt1 {
  font-family: "Abril Fatface", "Amiri";
  color: white;
  font-weight: normal;
}

.main__subtcontainer--slogan {
  font-family: "Amiri";
  color: white;
  font-weight: normal;
}

.header__nav div .nav__linkcontainer .nav__links .nav__item .nav__link {
  font-family: "Abril Fatface", "Amiri";
  color: pink;
  letter-spacing: 4px;
  line-height: 3.2rem;
  font-size: 3rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main__title {
  width: 100vw;
  height: 60px;
  margin-top: 100px;
}
.main__subtcontainer {
  width: 100vw;
  height: 100px;
  margin-top: 80px;
  display: grid;
  grid-template-columns: 100px, 1fr, 1fr;
  grid-template-rows: 1fr, 1fr, 1fr;
  grid-template-areas: "ms1 ms1 ms1" "ms2 ms3 ms3" "ms2 slogan slogan";
  justify-content: center;
  align-self: flex-start;
  padding: 3px;
  z-index: 90;
}
.main__subtcontainer--subt1 {
  grid-area: ms1;
  grid-column: 1/3;
  grid-row: 1;
  font-size: 1.8rem;
  justify-self: start;
  margin: 10px 0 0 10px;
  letter-spacing: 1px;
}
.main__subtcontainer--subt2 {
  grid-area: ms2;
  font-size: 3.8rem;
  grid-row: 2/4;
  grid-column: 1;
  margin: -15px 0 0 8px;
}
.main__subtcontainer--subt3 {
  grid-area: ms3;
  grid-column: 2/4;
  grid-row: 2;
  margin: -5px 0 0 0;
  font-size: 1.65rem;
}
.main__subtcontainer--slogan {
  grid-area: slogan;
  grid-column: 2/3;
  grid-row: 3/4;
  margin: -10px 0 0 5px;
  font-size: 1.1rem;
  letter-spacing: 0.75px;
}
.main__ico {
  display: flex;
  justify-content: space-evenly;
  width: 250px;
  align-self: center;
  margin-top: 160px;
}
.main__ico--mod1 {
  width: 25px;
}
.main__ico--mod {
  width: 15px;
}

.slider-container {
  height: 600px;
  display: inline-flex;
  overflow: hidden;
  transform: translateX(0);
  will-change: transform;
  transition: transform 0.3s ease-out;
  cursor: grab;
}
.slider-container .slide {
  max-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  user-select: none;
  transition: transform 0.3s ease-in-out;
}
.slider-container .slide .card {
  position: relative;
  width: 200px;
  height: 350px;
  margin-top: 150px;
  background-color: white;
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.1), inset 10px 10px 50px rgba(129, 107, 59, 0.76);
  transition: transform 0.3s ease-in-out;
  user-select: none;
  overflow: hidden;
}
.slider-container .slide .card::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: calc(-100% + 5px);
  width: 100%;
  height: 100%;
  background-color: #ff56ac;
  box-shadow: inset 5px 5px 50px rgba(49, 20, 20, 0.76);
  z-index: 1;
  transition: bottom 0.5s ease-in-out;
}
.slider-container .slide .card:hover::before {
  bottom: 0;
}
.slider-container .slide .card::after {
  content: "";
  position: absolute;
  top: 310px;
  right: 100px;
  width: 200%;
  height: 150px;
  background: rgba(238, 187, 231, 0.7);
  box-shadow: 20px 20px 40px white;
  transform: skewY(40deg);
  z-index: 4;
  filter: blur(4px);
}
.slider-container .slide .card:hover::after {
  animation: shiningLove 0.3s ease-in-out 0.5s;
}
.slider-container .slide .card__content {
  padding: 20px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  color: black;
  z-index: 2;
  transition: color 0.7s ease-in;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}
.slider-container .slide .card__content:hover {
  color: white;
}
.slider-container .slide .card__content--title {
  font-family: "Amiri";
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 2.2rem;
  border-top: 2px double black;
  border-bottom: 2px double black;
}
.slider-container .slide .card__content--par {
  align-self: center;
  font-family: "Antic Didone";
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1rem;
  text-align: center;
  line-height: 18px;
  letter-spacing: 1px;
}
.slider-container .slide .card__content--par2 {
  align-self: center;
  font-family: "Antic Didone";
  margin-top: 3px;
  margin-bottom: 5px;
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
}
.slider-container .slide .card__content--btn {
  width: 100px;
  height: 40px;
  text-decoration: none;
  background-color: black;
  font-family: "Antic Didone";
  align-self: center;
  justify-self: baseline;
  box-shadow: 10px 10px 30px #030303;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 14px;
  color: white;
  padding: 6px 10px;
  font-weight: 600;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  z-index: 10;
}

.grabbing {
  cursor: grabbing;
}

.grabbing .card {
  transform: scale(0.9);
}

@keyframes shiningLove {
  0% {
    top: 310px;
    right: 100px;
    background: rgba(238, 187, 231, 0.7);
  }
  100% {
    top: -250px;
    right: -150px;
    background: white;
  }
}

/*# sourceMappingURL=main.css.map */
