* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    cursor: url(../../assets/punteros/punterodiagonal.png) 0 0, pointer;
    
}

body{
    background-color: black;
    overflow-x: hidden;
    cursor: url(../../assets/punteros/punterovertical.png) 0 5, pointer;
}