@import "../base/mixins";
@import "../base/extends";
@import "../base/variables";

.header__nav{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    div{
        .navbar-toggler{
            @include w-h-pad(40px, 40px, 20px);
            position: relative;
            transition: .5 ease-in-out;
            right: 5px;
            top: 5px;
            outline: none;
            box-shadow: none;
            &:focus{
                outline: none;
                box-shadow: none;
                border: 0;
            }
            &:active{
                outline: none;
                box-shadow: none;
                border: 0;
            }
            .toggler-icon{    
                @include w-h-pad(100%, 3px, 0);
                margin: 0;
                display: block;
                position: absolute;
                background-color: rgba(241, 184, 211, 1);
                opacity: 1;
                left: 0;
                transform: rotate(0deg);
                transition: .25s ease-in-out;
                border: 2px solid rgba(241, 184, 211, 1);
                &:focus {
                    outline: none;
                    box-shadow: none;
                    border: 0;
                }
            }
            .middle-bar{
                margin-top: 0px;
            }
            .top-bar {
                position:absolute;
                margin-top: 0px;
                transform: rotate(135deg);
            }
            
            .middle-bar{
                opacity: 0;
                filter: alpha(opacity=0);
            }
            
            .bottom-bar {
                margin-top: 0;
                transform: rotate(-135deg);
            }    
        }
        .collapsed {
            .top-bar {
                /* Estado cuando el navbar está colapsado*/ 
                margin-top: -25px;    
                /* margin-top: -40px; MQ LARGE*/
                transform: rotate(0deg);
            }
            .middle-bar {
                /* Estado cuando el navbar está colapsado*/
                opacity: 1;
                filter: alpha(opacity=100);
            }
            .bottom-bar {
                /*Estado cuando el navbar está colapsado*/
                margin-top: 25px;
                /*margin-top: 40px; MQ LARGE*/
                transform: rotate(0deg);
            }    
        }
        .nav__linkcontainer{
            background-color: rgba(0, 0, 0, 0.95);
            height: 30rem;
            .nav__links{
                .nav__item{
                    padding: 15px;
                    &:hover{
                        transition: .5s ease-in;
                    }
                    .nav__link{
                        font-family: 'Abril Fatface', 'Amiri';
                        font-size: 3rem;
                        letter-spacing: .4rem;
                        line-height: 1rem;
                        color: pink;
                        &:hover{
                            border: .5px solid white;
                            background-color: rgba(220, 101, 231, 0.8);
                            color: rgb(255, 255, 255);
                        }
                    }
                }
            }
        }
    }
}

