@import "../base/keyframes.scss";



/* Sección index Section - Carrusel de tarjetas */

.isection{
    height: 100vh;
    
    background-color: black;
    border-right: 2px solid white;
    border-left: 2px solid white;
    overflow-x: hidden;
    cursor: url(../../assets/punteros/xombie.png) 0 0, pointer;
    &__arrowL, &__arrowR{
        height: 100px;
        margin-top: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: space-evenly;
        position: absolute;
        color: white;
        font-size: 30px;
        opacity: .6;
    }
    &__arrowL{
        left: 25px;
    }
    &__arrowR{
        right: 25px;
    }
    &__slidercontainer{
        height: 600px;
        display: inline-flex;
        overflow: hidden;
        scrollbar-width: none;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        transition: transform .3s ease-out;
        cursor: url(../../assets/punteros/xombie.png) 0 0, pointer;
        &--slide{
            max-height: 100vh;
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            user-select: none;
            transition: transform 0.3s ease-in-out;
            @media(min-width: 1200px){
                padding: 3rem;
            }
        }
    }
}     
/* clases que se agregan con addClass en Js */

/* Tarjetas */ 
.card{
    position: relative;
    width: 200px;
    height: 350px;
    background-color: white;
    box-shadow: 8px 5px 10px rgba(247, 129, 227, 0.3),
    inset 10px 10px 50px rgba(129, 107, 59, 0.76);
    transition: transform .3s ease-in-out;
    user-select: none;
    overflow: hidden;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    cursor: url(../../assets/punteros/xombie.png) 0 0, pointer;
    &::before{
        content:"";
        position: absolute;
        left: 0;
        bottom: calc(-100% + 5px); 
        width: 100%;
        height: 100%;
        background-color: #ff56ac;
        box-shadow: inset 5px 5px 50px rgba(49, 20, 20, 0.76);
        transition: bottom .5s ease-in-out;
    }
    &:hover::before{
        bottom: 0;        
    }
    &::after{
        content: "";
        position: absolute;
        top: 310px;
        right: 100px;
        width: 200%;
        height: 150px;
        background: rgba(238, 187, 231, .7);
        box-shadow: 20px 20px 40px rgb(255, 255, 255);
        transform: skewY(40deg);
        z-index: 4;
        filter: blur(4px);
    }
    &:hover::after{
        animation: shine .3s ease-in-out .5s;
    }
    &__content {
        padding:20px;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: relative;
        color: rgb(0, 0, 0);
        z-index: 2;
        transition: color .7s ease-in;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, .8);
        &:hover{
            color: rgb(255, 255, 255);  
        }
        &--title {
            font-family: "SuperLegendBoy";
            font-weight: 600;
            text-align: center;
            margin: 10px 0;
            font-size: 1.4rem;
            border-top: 2px double black;
            border-bottom: 2px double black;
        }    
        &--par{
            align-self: center;
            font-family: "SuperLegendBoy";
            margin-top: 30px;
            margin-bottom: 30px;
            font-size: .8rem ;
            text-align: center;
            line-height: 18px;
            letter-spacing: 1px;
        }
        &--par2{
            align-self: center;
            font-family: "Antic Didone";
            margin-top: 3px;
            margin-bottom: 5px;
            font-size: 1rem ;
            text-align: center;
            font-weight: 700;
            line-height: 18px;
            letter-spacing: 1px;
        }   
        &--btn{
            width: 100px;
            height: 40px;
            text-decoration: none;
            background-color: rgb(0, 0, 0);
            font-family: "SuperLegendBoy";
            align-self: center;
            justify-self: baseline;
            box-shadow: 10px 10px 30px rgba(3, 3, 3, 1);
            text-transform: uppercase;
            letter-spacing: .1rem;
            font-size: 10px;
            color: rgb(255, 255, 255);
            padding: 6px 10px;
            font-weight: 600;
            border-top-left-radius: 13px;
            border-top-right-radius: 13px;
            z-index: 10;
            cursor: url(../../assets/punteros/punterodiagonal.png) 0 0, pointer;
        }
    }
}

