@import "../base/extends";


/* INDEX FOOTER */

.footer{
    height: 100vh;
    background-color: map-get($sections, bg-colorblack);
    display: flex;
    flex-direction: column;
    align-content: center;
    &__header{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        &--title{
            margin-top: 3.5rem;
            font-family: 'Amiri';
            font-size: 4rem;
            text-align: center;
            color: white;
        }
        &--rrss{
            margin-top: -2rem;
            align-self: center;
            width: 22rem;
            display: flex;
            justify-content: space-around;
            padding: 1rem;
            a{
                text-decoration: none;
                i{  
                    font-size: 1.5rem;
                    color: map-get($sections, colorpink);
                    transition: .3s;
                    &:hover{
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
    &__form{
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .5fr .5fr .5fr 3fr .5fr;
        gap: 1rem;
        justify-items: center;
        align-content: center;
        &--title{
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            font-family: 'Abril Fatface';
            font-size: 1.5rem;
            letter-spacing: .1rem;
            color: white;
            text-align: center;
        }
        &--name{
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            font-family: 'Antic Didone';
            font-size: 1.2rem;
            text-align: center;
            color:white;
            border: 0;
            background-color: map-get($sections, colorpink);
            box-shadow: inset 1px 1px 40px rgba(83, 85, 226, 0.3);
        }
        &--email{
            grid-column: 1 / 2;
            grid-row: 3 / 4;
            font-family: 'Antic Didone';
            font-size: 1.2rem;
            text-align: center;
            color:white;
            background-color: map-get($sections, colorpink);
            border: 0;
            box-shadow: inset 1px 1px 40px rgba(83, 85, 226, 0.3);
        }
        &--textarea{
            grid-column: 1 / 2;
            grid-row: 4 / 5;
            font-family: 'Antic Didone';
            font-size: 1.2rem;
            color:white;
            background-color: map-get($sections, colorpink);
            border: 0;
            box-shadow: inset 2px 2px 100px rgba(83, 85, 226, 0.8);
        }
        &--buttons{
            grid-column: 1 / 2;
            grid-row: 5 / 6;
            input{
                font-family: "Amiri";
                font-size: 1.5rem;
                color: white;
                border: 0;
                width: 5.5rem;
                background-color: map-get($sections, colorpink);
                box-shadow: inset 1px 1px 20px rgba(83, 85, 226, 0.3);
            }
        }
    }
    &__ico{
        align-self: center;
        margin-bottom: 2rem ;
        i{
            font-size: 3rem;
            color: rgb(255, 255, 255);
        }
    }
    &__devsign{
        grid-area: devsign;
        height: 4rem;
        width: 100vw;
        align-self: flex-end;
        text-align: center;
        font-family: "Abril Fatface";
        letter-spacing: .2rem;
        font-size: 10rem;
        background-color: rgb(226, 126, 218);
    } 
}

