@import "../base/extends";

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &__title{
        @extend %brandtitle-small;
        width: 100vw;
        height: 60px;
        margin-top: 100px;
        user-select: none;
    }
    &__subtcontainer{
        width: 100vw;
        height: 100px;
        margin-top: 80px;
        display: grid;
        grid-template-columns: 100px, 1fr, 1fr;
        grid-template-rows: 1fr, 1fr, 1fr;
        grid-template-areas: 
        "ms1 ms1 ms1"
        "ms2 ms3 ms3"
        "ms2 slogan slogan";
        justify-content: center;
        align-self: flex-start;
        padding: 3px;
        z-index: 90;
        user-select: none;
        
        
        &--subt1{
            @extend %subtitlewhite;
            grid-area: ms1;
            grid-column: 1 / 3;
            grid-row: 1;
            font-size: 1.8rem;
            justify-self: start;
            margin: 10px 0 0 10px;
            letter-spacing: 1px;
            user-select: none;
        }
        &--subt2{
            @extend %subtitlewhite;
            grid-area: ms2;
            font-size: 3.8rem;
            grid-row: 2 / 4;
            grid-column: 1;
            margin: -15px 0 0 8px;
            user-select: none;
        }
        &--subt3{
            @extend %subtitlewhite;
            grid-area: ms3;
            grid-column: 2 / 4;
            grid-row: 2;
            margin: -5px 0 0 0;
            font-size: 1.65rem;
            user-select: none;
        }
        &--slogan{
            @extend %slogan1;
            grid-area: slogan;
            grid-column: 2 / 3;
            grid-row: 3 / 4;
            margin: -10px 0 0 5px;
            font-size: 1.1rem;
            letter-spacing: .75px;
            user-select: none;
        }
    }
    &__ico{
        display: flex;
        justify-content: space-evenly;
        width: 250px;
        align-self: center;
        margin-top: 160px;
        &--mod1 {
            width: 25px;
        }
        &--mod {
            width: 15px;
        }
        
    }    
}
