@import "../base/extends";

/*--------------------------------------------*/
/*             MEDIA QUERIES                  */
/*--------------------------------------------*/



/* BARRA DE NAVEGACION (USO SOLO MENU HAMBURGUESA */
.header__nav{
    div{
        .navbar-toggler{
            @media (min-width: 768px){
                @include w-h-pad(4rem, 80px, 20px);
                right: 20px;
                top: 20px;
            }
            @media (min-width: 1224px){
                @include w-h-pad(6rem, 100px, 20px);
            }
            .toggler-icon{   
                @media (min-width: 768px){
                    @include w-h-pad(100%, 3px, 2px);
                } 
            }
            .top-bar{
                @media (min-width: 768px){
                    height: .6rem;
                }
            }
            .middle-bar{
                @media (min-width: 768px){
                    height: .6rem;
                }
            }
            .bottom-bar{
                @media (min-width: 768px){
                    height: .6rem;
                }
            }
        }    
        .collapsed {
        .top-bar {
            @media (min-width: 768px){
                margin-top: -30px;    
            }
            @media (min-width: 1224px){
                margin-top: -50px;
            }
        }
        .bottom-bar {
            @media (min-width: 768px){
                margin-top: 30px;
            }
            @media (min-width: 1224px){
                margin-top: 50px;
            }
        }    
    }
    }
}



/* ----------------------------------------------------------------------------------------*/
/* FOOTER INDEX */
.footer{
    padding: 2rem;
    &__header{
        &--title{  
            @media(min-width: 768px){
                font-size: 10rem;
            }
            @media(min-width: 1224px){
                font-size: 13rem;
            }
        }
        &--rrss{
            @media(min-width: 768px){
                width: 38rem;
                align-self: center;
            }
            @media(min-width: 1224px){
                width: 68rem;
            }
            a{
                i{  
                    @media(min-width: 768px){
                        font-size: 2.5rem;   
                    }
                    @media(min-width: 1224px){
                        font-size: 3.5rem;
                    }
                }
            }
        }
    }
    &__form{
        @media(min-width: 768px){
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: .5fr .2fr .2fr .5fr;
            gap: 1rem;
            justify-items: center;
            align-items: center;
        }
        &--title{
            @media(min-width: 768px){
                grid-column: 1 / 2;
                grid-row: 1 / 2;
                font-size: 2rem;
                letter-spacing: .1rem;
                text-align: center;
            }
            @media(min-width: 1224px){
                font-size: 3rem;
                letter-spacing: .2rem;
            }
        }
        &--name{
            @media(min-width: 768px){
                grid-column: 1 / 2;
                grid-row: 2 / 3;
                align-self: flex-start;                
                font-size: 2rem;
            }
            @media(min-width: 1224px){
                font-size: 2.5rem;
            }
        }
        &--email{
            @media(min-width: 768px){
                grid-column: 1 / 2;
                grid-row: 3 / 4;
                align-self: flex-end;
                font-size: 2rem;
            }
            @media(min-width: 1224px){
                font-size: 2.5rem;
            }
        }
        &--textarea{
            @media(min-width: 768px){
                grid-column: 2 / 3;
                grid-row: 1 / 5;
                justify-self: flex-start;
                width: 20rem;
                height: 15rem;           
                font-size: 2rem;
            }
            @media(min-width: 1224px){
                grid-column: 2 / 3;
                grid-row: 1 / 5;
                justify-self: flex-start;
                text-align: center;
                width: 30rem;
                height: 20rem;
            }
        }
        &--buttons{
            @media(min-width: 768px){
                grid-column: 1 / 2;
                grid-row: 4 / 5;
                align-self: flex-end;
            }
            input{
                @media(min-width: 768px){
                    width: 8rem;
                    font-size: 2rem;
                }
            }
        }
    }
    &__ico{
        @media(min-width: 768px){
            align-self: center;
            margin-bottom: 2rem ;
        }
        i{
            @media(min-width: 1224px){
                font-size: 3rem;
                color: rgb(255, 255, 255);
            }
        }
    }
    &__devsign{
        height: 4rem;
        font-size: 10rem;
        background-color: rgb(226, 126, 218);
    } 
}
/*------------------*/
/*FOOTER DE PAGES - Page-Footer - */
.page-footer{
    padding: 8rem;
    &__title{
        @media (min-width: 768px){
            align-self: center;
            font-family: 'Amiri';
            font-size: 8rem;
            text-align: center;
            color: rgb(0, 0, 0);
        }
    }
    &__rrss{
        @media (min-width: 768px){
            width: 42rem;
            img{
                @media (min-width: 768px){
                    width: 3rem;
                    height: 4rem;
                    align-self: center;
                }
            }
        }
    }
    &__arrow{
        i{
            @media (min-width: 768px){
                font-size: 5rem;
            }
        }
    }
}
/* formulario */
.page-form{
    &__container{
        &--title{
            @media (min-width: 768px){
                font-size: 4rem;
            }
        }
        &--fill{
            @media (min-width: 768px){
                height: 4rem;
                width: 24rem;
                font-size: 2rem;
            }
        }               
        &--fill2{
            @media (min-width: 768px){
                height: 4rem;
                width: 24rem;
                font-size: 2rem;
            }
        }               
        &--textarea{
            @media (min-width: 768px){
                height: 15rem;
                width: 24rem;
                font-size: 2rem;
            }
        }
        div{
            .page-form__button{
                @media (min-width: 768px){
                    height: 5rem;
                    width: 12rem;
                    font-size: 3rem;
                }
            }
        }    
    }
}  





/* ---------------------------------------------------------------------------------------*/
/* INDEX MAIN */
.main{
    &__title{
        @media (min-width: 480px){
            font-size:2.2rem;
        }
        @media (min-width: 768px){
            font-size: 5rem;    
        }
        @media (min-width: 1224px){
            margin-top: 10rem;
            font-size: 6rem;    
            letter-spacing: 1rem;
            color: rgba(241, 184, 211, 1);
        }
    }    
    &__subtitle{
        @media (min-width: 1224px){
            font-size: 2rem;
            margin-top: 4rem;  
        }
    }
    /* &__sub{ Subtitulo con formato de logo, por ahora no se usará 
    @media (min-width: 480px){
            grid-template-columns: 10px, 10px;
            grid-template-rows: 100px, 1fr, 1fr;
        }
        @media (min-width: 1224px){
            display: none;
        }
        &--1{
            @media (min-width: 480px){
                font-size: 3rem;
            }
            @media (min-width: 768px){
                font-size: 5rem;
            }
        }
        &--2{
            @media (min-width: 480px){
                font-size: 5rem;
                margin-top: -1.3rem;
            }
            @media (min-width: 768px){
                font-size: 9rem;
                margin-top: -2.5rem;
            }
        }
        &--3{
            @media (min-width: 480px){             
                font-size:2.3rem;
            }
            @media (min-width: 768px){
                font-size: 4rem;
                margin-top: -.5rem;
            }
        }
        &--slogan{
            @media (min-width: 480px){
                font-size: 1.6rem;
            }
            @media (min-width: 768px){
                font-size: 2.9rem;
                margin-top: -1rem;
            }
        }
    } */
    &__ico{
        @media (min-width: 480px){
            width: 25rem;
            
        }
        @media (min-width: 768px){
            width: 25rem;
        }
        @media (min-width: 1224px){
            width: 25rem;
            margin-top: 10rem;
        }
        
        &--mod1 {
            @media (min-width: 480px){
                width: 1.25rem;
            }
            @media (min-width: 768px){
                width: 1.8rem;
            }
            @media (min-width: 1224px){
                width: 1.2rem;
            }
        }
        &--mod2 {
            @media (min-width: 480px){
                width: 2.5rem;
            }
            @media (min-width: 768px){
                width: 3rem;
            }
            @media (min-width: 1224px){
                width: 2rem;
            }
        }
    }    
}
/* INDEX SECTION */
.isection{
    height: 100%;   
    background-color: rgb(226, 126, 218);
    overflow-x: hidden;
    &__parrafo1{
        &--p1{
            @media (min-width: 480px){
                width: 6rem;   
                font-size: 2.5rem;
                line-height: 2rem;
            }
            @media (min-width: 768px){
                width: 8rem;   
                font-size: 3.5rem;
                line-height: 2.3rem;
            }
            @media (min-width: 1224px){
                width: 40rem;   
                font-size: 6rem;
                line-height: 4rem;
            }
        }
        &--emptybox1{
            @media (min-width: 480px){
                height: 20rem;
                width: 22rem;
            }
            @media (min-width: 768px){
                height: 25rem;
            }
            @media (min-width: 1224px){
                left: 8%;
                right: 0;
                top: 0;
                height: 25rem;
                width: 25rem;
                border-radius: 50%;
            }
        }
    }    
    &__parrafo2{
        &--p2{
            @media (min-width: 480px){
                margin-top: 2.5rem;
                width: 12rem;   
                font-size: 2.5rem;
                line-height: 2rem;
            }
            @media (min-width: 768px){
                width: 14rem;   
                font-size: 3.5rem;
                line-height: 2.3rem;
                margin-top: 20rem;
                width: 24rem;
            }
            @media (min-width: 1224px){
                width: 40rem;
                line-height: 2.4rem;
            }
        }
        &--emptybox2{
            @media (min-width: 480px){
                right: 70%;
                top: 0;
                height: 25rem;
                width: 30rem;
            }        
            @media (min-width: 768px){
                right: 70%;
                top: 14rem;
                height: 35rem;
                width: 26rem;
            }        
            @media (min-width: 1224px){
                left: 1;
                right: 0;
                top: 55%;
                height: 20rem;
                width: 40rem;
            }        
        }
    }
    &__parrafo3{
        &--p3{
            @media (min-width: 480px){
                width: 6rem;
                font-size: 2.8rem;
            }
            @media (min-width: 768px){
                margin-top: 10rem;
                margin-bottom: 10rem;
                width: 10rem;
                font-size: 4rem;
                line-height:3rem;
            }
            @media (min-width: 1224px){
                font-size: 8rem;
                width: 40rem;
                line-height: 6rem;
            }
        }
        &--emptybox3{       
            @media (min-width: 480px){
                bottom: 6rem;
                width:9rem;
            }
            @media (min-width: 768px){
                right: 45%;
                bottom: 20rem;
                width: 15rem;
                height: 14rem;
            }
            @media (min-width: 1224px){
                right: 20%;
                bottom: 20%;
                width: 30rem;
                height: 19rem;
            }
        }
        &--emptybox4{
            @media (min-width: 480px){
                bottom: 0;
                width: 9rem;
            }
            @media (min-width: 768px){
                left: 45%;
                bottom: 9rem;
                width: 15rem;
                height: 14rem;
            }
            @media (min-width: 1224px){
                left: 20%;
                bottom: 40%;
                width: 30rem;
                height: 19rem;
            }            
        } 
    }
    &--link{
            @media (min-width: 480px){
                font-size: 3rem;
                width: 15rem;
            }
    }
}   
/*  Hay una inconveniencia en el Scope, los estilos a continuación 
deberían ir en otro padre pero por cuestiones de deadline no llego 
a corregirlo, por eso lo separo en la hoja de SASS */
.isection{
    &__arrowL, &__arrowR{
        @media (min-width: 1224px){
            display: none;
        }
    }
    
    &__slidercontainer{
        @media (min-width: 1224px){
            display: none;
        }
    }
}
/* TARJETAS (JS) */ 
.card{
    @media (min-width: 1224px){
        display: none;
    }
}





/*---------------------------------------------------------------------------------------*/
/* ESTILOS PAGINAS SOUND Y MUSIC */
/* MAIN*/
.multimedia{
    &__title{
        @media (min-width: 768px){
            margin-top: 4rem;
            font-size: 10rem;
        }
        @media (min-width: 1224px){
            font-size: 10rem;
        }
    }
    &__animation{
        @media (min-width: 768px){
            width: 50%;
            border: 0.25rem solid rgb(83, 52, 82);
            object-fit: cover;
        }
        @media (min-width: 768px){
            width: 40%;
        }
    }
    &__descripcion{
        @media (min-width: 768px){
            padding: 6rem;
            font-size: 3rem;
            line-height: 2.2rem;
        }
        @media (min-width: 1224px){
            font-size: 4rem;
            line-height: 4rem;
        }
    }
    &__link-button{
        /* Pagina MUSIC */
        position: absolute;
        bottom: 2rem;
        width: 20rem;
        padding: .5rem;
        font-family: "SuperLegendBoy";
        font-size: 1rem;
        text-align: center;
        align-self: center;
        color: black;
        background-color: rgb(241, 122, 236);
        border: 0.125rem solid black;
    }
}
/* SECCION Galería de Pagina SOUNDS*/
.soundworks{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(226, 126, 218);
    padding-bottom: 4rem;
    &__title{
        @media (min-width: 1224px){
            padding: 10%;
        }            
        h2{            
            @media (min-width: 480px){
                font-size: 10rem;
                text-align: center;  
                line-height: 7rem;         
            }
            @media (min-width: 768px){
                font-size: 13rem;
                text-align: center;           
            }
            @media (min-width: 1224px){
                line-height: 8.6rem;
                font-size: 18;
            }            
        }
    }
    &__work{
        margin-top: 2rem;
        &--title{
            @media (min-width: 768px){
                font-size: 5rem;
            }
        }
        &--img{
            @media (min-width: 768px){
                width: 35rem;
                justify-self: center;
            }
        }
    }
}
/*  REPRODUCTOR DE AUDIO*/
.sound-container {
    .music-player{
        @media (min-width: 768px){
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 4rem 22rem 2fr 1fr;
        }
        .player {
            .player-title { /* TITULO DE LA CANCION EN REPRODUCCIÓN */
                @media (min-width: 768px){
                    font-size: 4rem;
                }
                @media (min-width: 1224px){
                    font-size: 6rem;
                    margin-bottom: 2rem;
                }
            }
        }
        .playlist {
            @media (min-width: 768px){
                width: 29rem;
            }
            @media (min-width: 1224px){
                width: 40rem;
            }
            h2{
                @media (min-width: 768px){
                    font-size: 3rem;
                }
                @media (min-width: 1224px){
                    width: 40rem;
                }
            }
            ul {
                li{
                    @media (min-width: 768px){
                        font-size: 3rem;
                        width: 29rem;
                    }
                    @media (min-width: 1224px){
                        width: 40rem;
                    }
                }
            }
        }
        .controls {
            button {
                outline: none;
                border: none;
                cursor: pointer;
                background: none;
                padding: .5rem;
            }
            .control-btn {
                font-size: 1.2rem;
                color: white;
            }
            .playpause-btn {
                font-size: 1.5rem;
                color: white;
            }
            .slidecontainer {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: .5rem;
                .slide-icon {
                    color: #ffffff;
                    font-size: 1.2rem;
                }        
                .slider {             
                    -webkit-appeance: none;       
                    background: #fff;
                    outline: none;
                    opacity: .7;
                    -webkit-transition: .2s;
                    transition: .2;
                    border-radius: 10px;
                    margin: 0 1.25rem;
                    font-size: .5rem;
                    &:hover {
                        opacity: 1;
                    }        
                }
            }
        }
    }
}




/*---------------------------------------------------------------------------------------*/
/* ABOUT US */
.aboutus{
    @media (min-width:1224px){
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10rem;
    }
    &__title{
        @media (min-width:480px){
            font-size: 5rem
        }
        @media (min-width:1224px){
            font-size: 8rem;
        }
    }
    &__descripcion{
        @media (min-width:480px){
            font-size: 1.5rem;
        }
        @media (min-width:1224px){
            justify-self: center;
            font-size: 3.2rem;
        }
        
    }
}