
/* ESTILOS PAGINAS SOUND Y MUSIC */
.multimedia{
    height: 100vh;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    background-color: rgb(241, 195, 217);
    &__title{
        font-family: "SuperLegendBoy";
        font-size: 2.5rem;
        text-align: center;
        margin-top: 3.75rem;
        margin-bottom: 3rem;
        color: rgb(0, 0, 0);
        text-shadow: 3px 3px 1px rgb(241, 122, 236);
    }
    &__animation{
        width: 100%;
        border: 0.25rem solid rgb(241, 122, 236);
        object-fit: cover;
        margin-bottom: 2rem;
    }
    &__descripcion{
        padding: 1rem;
        font-family: "SuperLegendBoy";
        font-size: 1rem;
        text-align: start;
        color:rgb(0, 0, 0);
        text-shadow: 1px 1px 1px white;
    }
    &__link-button{
        position: absolute;
        bottom: 2rem;
        width: 20rem;
        padding: .5rem;
        font-family: "SuperLegendBoy";
        font-size: 1rem;
        text-align: center;
        align-self: center;
        color: black;
        background-color: rgb(241, 122, 236);
        border: 0.125rem solid black;
    }
}

/* REPRODUCTOR DE SONIDO 
(POR AHORA SOLO EN PAGINA => MUSIC */
.sound-container {
    align-self: center;
    height: 100vh;
    padding: 1rem;
    display: flex;
    justify-content: center;
    user-select: none;
    background-color: black;
    .music-player{
        align-self: center;
        height: 20rem;
        max-width: 32rem;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 3rem 2fr 1fr;
        grid-template-areas: 
        "player player"
        "controls controls"
        "playlist playlist"
        "button button"
        ;
        justify-content: center;
        .player {
            grid-area: player;
            display: flex;
            justify-content: center;
            background-image: url("../../assets/multi-img/giphy.gif");
            background-repeat: no-repeat;
            background-position: center;
            opacity: .8;
            .player-title {
                justify-self: center;
                align-self: center;
                font-family: "SuperLegendBoy";
                font-size: 1.5rem;
                text-shadow: 2px 2px 1px white;
                background-color: rgba(255, 255, 255, .7);
            }
        }
        .playlist {
            grid-area: playlist;
            height: 6rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background-color: rgba(190, 36, 88, 0.89);
            h2{
                font-family: "SuperLegendBoy";
                font-size: 1.3em;
                text-align: center;
                text-transform: uppercase;
                color: white;
                text-shadow: 3px 3px 0px purple,
                5px 5px 0px green, 
                7px 7px 0px darkred;
            }
            .player-title {
                color: rgb(255, 255, 255);
                border-bottom: 1px solid black;
            }
            ul {
                margin-right: 20px;
                list-style-type: none;
                li{
                    padding: 5px;
                    font-family: "SuperLegendBoy";
                    font-size: 1rem;
                    color: rgb(255, 251, 251);
                    border-bottom: 1px solid #ddd;
                    text-shadow: 1px 1px 1px rgb(0, 0, 0);
                    cursor: pointer;               
                    &:hover{
                        color: grey;
                    }
                }
            }
        }
        .controls {
            grid-area: controls;
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 3rem;
            background-image: url('../../assets/multi-img/player-texture.gif');
            opacity: .8;
            button {
                outline: none;
                border: none;
                cursor: pointer;
                background: none;
                padding: .5rem;
            }
            .control-btn {
                font-size: 2rem;
                color: white;
                text-shadow: 3px 3px 0px purple,
                5px 5px 0px green, 
                7px 7px 0px darkred;
            }
            .playpause-btn {
                font-size: 1.5rem;
                color: white;
                text-shadow: 3px 3px 0px purple,
                5px 5px 0px green, 
                7px 7px 0px darkred;
            }
            .slidecontainer {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem;
                .slide-icon {
                    color: #ffffff;
                    font-size: 2rem;
                }        
                .slider {             
                    -webkit-appeance: none;       
                    background: #fff;
                    outline: none;
                    opacity: .7;
                    -webkit-transition: .2s;
                    transition: .2;
                    border-radius: 10px;
                    margin: 0 1.25rem;
                    font-size: .5rem;
                    &:hover {
                        opacity: 1;
                    }        
                }
            }
        }
        &__link-button{
            grid-area: button;
            width: 12rem;
            padding: .5rem;
            font-family: "SuperLegendBoy";
            font-size: 1rem;
            text-align: center;
            align-self: center;
            justify-self: center;
            color: black;
            background-color: rgb(241, 122, 236);
            border: 0.125rem solid rgb(255, 255, 255);
        }
    }
}