.aboutus{
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: black;
    &__title{
        font-family: "Amiri";
        font-size: 4rem;
        text-align: center;
        color: palevioletred;
    }
    &__descripcion{
        padding: 10px;
        font-family: "Antic Didone";
        font-size: 1.2rem;
        text-align: center;
        color:rgb(255, 255, 255);
    }
}