@import "../base/extends";
/*------------------*/
/*       SHOP       */
/*------------------*/


/* NAVBAR SETTINGS PARA EL SHOP */
/* cambio de color al boton del menu hamburguesa*/
.pages-toggler-icon{    
    @include w-h-pad(100%, 3px, 3px);
    margin-right: 15px;
    margin-bottom: 10px;
    display: block;
    position: absolute;
    background-color: rgb(0, 0, 0);
    opacity: 1;
    left: 0;
    box-shadow: 2px 2px 1px white;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    &:focus {
        outline: none;
        box-shadow: none;
        border: 0;
    }
}

/* SHOP MAIN MENU */
.shop-main{
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(241, 195, 217);
    &__titles{
        user-select: none;
        &--title{
            font-family: "SuperLegendBoy";
            font-size: 4rem;
            text-shadow: 2px 2px 0px rgba(0, 0, 0, .6);
            color: white;
            margin-bottom: -10px;
        }
        &--sub {
            font-family: "SuperLegendBoy";
            font-size: 1.35rem;
            text-shadow: 2px 2px 0px rgba(0, 0, 0, .6);
        }
    }
    .main-selector{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem;
        margin-bottom: 1rem;
        background-color: rgba(255, 255, 255, 1);
        cursor: url(../../assets/punteros/punterodiagonal.png) 0 0, pointer;
        &__list{
            &--link{
                margin: 2px 2px;
                font-family: "SuperLegendBoy";
                font-size: 1.25rem;
                text-transform: uppercase;
                text-align: justify;
                letter-spacing: 2px;
                text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
                a {
                    color: rgb(241, 93, 197);
                }
                &:hover{
                    background-color: grey;
                    width: 12.5rem;
                }
            }
        }
        &__ico{
            img{
                width: 120px; 
                height: 120px;
            }
        }
    }
}

/*
SHOP - SECCIONES: MERCH, SONIDOS
MUSICA, CURSOS, CONTACTO-
*/
.shop{
    height: 100vh;
    display: grid;
    grid-template-columns: .2fr 1fr;
    grid-template-rows: 3.75rem 2fr 2rem;
    gap: .3rem;
    padding: 0.8px;
    overflow-x: hidden;
    &__title{
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        padding: .15rem;
        justify-self: flex-start;
        font-family: "SuperLegendBoy";
        font-size: 3.8rem;
        color: white;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, .6);
        user-select: none;
    }
    &__subtitle{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        align-self: center;
        padding: .15rem;
        font-family: "SuperLegendBoy";
        font-size: 3rem;
        letter-spacing: .5rem;
        text-orientation: upright;
        writing-mode: vertical-lr;
        color: rgba(241, 184, 211, 1);
        text-shadow: 5px 2px 0px rgba(255, 255, 255, 1);   
        user-select: none;
    }
    .cards{
        grid-column: 2 / 3;
        grid-row: 2 / 3;   
        min-height: 20rem;
        display: flex;
        align-items: center; 
        background-color: white;     
        box-shadow: inset 4px 4px 1px black;
        overflow-x: scroll;
        &__card{
            min-width: 14rem;
            min-height: 20rem; 
            padding: 1rem;
            display: flex;
            flex-direction: column;
            margin: 0 1rem;
            background-color: white;
            box-shadow: 9px 9px 1px rgba(0, 0, 0, .8),
            inset 1px 1px 100px rgba(190, 128, 12, 0.473);
            user-select: none;
            &--title{
                margin-top: 1rem;
                font-family:"SuperLegendBoy";
                font-size: 1rem;
                text-align: center;
            }
            &--description{
                margin-top: 0.625rem;
                font-family: "SuperLegendBoy";
                text-align: center;
            }
            &--img{
                align-self: center;
                width: 11rem;
                height: 12rem;
                object-fit: cover;
                box-shadow: 3px 4px 0px rgba(0, 0, 0, .9);
            }
            &--img_musica{
                width: 12rem;
                height: 13rem;
                object-fit: fill;
                box-shadow: 5px 5px 0px rgba(0, 0, 0, .9);
            }
            &--img_musica2{
                margin-top: 1rem;
                width: 12rem;
                height: 12rem;
                object-fit: fill;
                box-shadow: 5px 5px 0px rgba(0, 0, 0, .9);
            }
            &--img_musica3{
                align-self: center;
                width: 12rem;
                height: 13rem;
                object-fit: fill;
                box-shadow: 5px 5px 0px rgba(0, 0, 0, .9);
            }
            &--btn{
                align-self: center;
                justify-self: center;
                z-index: 10;
                width: 6rem;
                height: 2rem;
                font-family: "SuperLegendBoy";
                font-size: 0.625rem;
                text-align: center;
                text-transform: uppercase;
                text-decoration: none;
                letter-spacing: 1.6px;
                background-color: rgb(0, 0, 0);
                border-radius: 0.8rem;
                color: rgb(255, 255, 255);
                box-shadow: 2px 2px 0px rgba(247, 1, 1, 0.527);
            }
        }
    }
    .selector{
        height: 2rem;
        grid-column: 1 / 3;
        grid-row: 3 / 4;
        align-self: flex-end;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: rgba(255, 255, 255, 1);
        user-select: none;
        &__link{
            font-family: "SuperLegendBoy";
            font-size: 1rem;
            text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
            list-style-type: none;
            a {
                color: rgb(241, 93, 197);
                &:hover{
                    background-color: grey;
                }
            }
        }      
    }
}

/* Fondo de secciones del shop */
#merch{
    background-color: orange;
}
#sonidos{
    background-color: green;
}
#musica{
    background-color: blue;
}
#cursos{
    background-color: rgb(0, 0, 0);
}
/* FOOTER */
.page-footer{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2rem 3fr .5fr;
    grid-template-areas: 
    "titulo"
    "rrss"
    "formulario"
    "irarriba"
    ;
    justify-items: center;
    background-color: rgb(255, 0, 0);
    &__title{
        grid-area: titulo;
        margin-top: px;
        align-self: flex-end;
        justify-self: center;
        font-family: 'SuperLegendBoy';
        font-size: 2.4rem;
        color: rgb(255, 255, 255);
    }
    &__rrss{
        grid-area: rrss;
        align-self: center;
        display: flex;
        justify-content: space-around;
        width: 20rem;
        padding: 0.2rem;
    }
    &__arrow{
        grid-area: irarriba;
        justify-self: center;
        align-self: center;
        margin-bottom: .5rem;
    }
}

.page-form{
    grid-area: formulario;
    height: 23rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        gap: 0.3rem;
        font-family: 'SuperLegendBoy';
        font-size: 1rem;
        background-color: red;
        overflow: hidden;
        &--title{
            font-size: 2rem;
            color:rgb(0, 0, 0);
            text-shadow: 2px 2px 4px white;    
        }
        &--fill{
            height: 1.875rem;
            width: 12.5rem;
            font-family: "SuperLegendBoy";
        }               
        &--fill2{
            height: 1.875rem;
            width: 12.5rem;
            font-family: "SuperLegendBoy";
        }               
        &--textarea{
            font-family: "SuperLegendBoy";
            font-size: 1rem;
            height: 9.375rem;
            width: 12.5rem;
        }
        div{
            .form__button{
                background-color: pink;
                font-family: "SuperLegendBoy";
                border: none;
                height: 1.875rem;
                width: 6.25rem;
            }
        }    
    }
}    