/*------------------*/
/*       SHOP       */
/*------------------*/

.burgerpages{
    background-color: rgba(0, 0, 0, .6) !important;
    border: 3px solid rgba(0, 0, 0, 0.6)!important;
    box-shadow: 1px 1px 0px rgba(241, 184, 211, 1),
    -1px -1px 0px rgba(241, 184, 211, 1);
}

.shop-main{
    display:flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: rgb(241, 195, 217);
    &__title{
        font-family: "SuperLegendBoy";
        font-size: 4rem;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, .6);
        color: white;
        user-select: none;
    }
    &__subtitle {
        margin-top: -25px;
        font-family: "SuperLegendBoy";
        font-size: 1.35rem;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, .6);
        user-select: none;
    }
    &__heart{
        position: relative;
        display: flex;
        margin-top: 50px;
        align-self: center;
        &--icon{
        animation: iconrotation 2.5s infinite linear; 
        }
    }
    &__sandia{
        position: absolute;
        top: 200px;
        right: 20px;
        overflow: hidden;
        border-radius: 50%;
        margin: 20px 20px 20px 20px;
    }
    &__selector{
        position: relative;
        top:0;
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        background-color: rgba(255, 255, 255, 1);
        cursor: url(../../assets/punteros/punterodiagonal.png) 0 0, pointer;
        &--link{
            margin: 2px 2px;
            font-family: "SuperLegendBoy";
            font-size: 20px;
            text-align: justify;
            letter-spacing: 2px;
            text-shadow: 2px 2px 0px rgba(0, 0, 0, .6);
            a {
                color: rgb(241, 93, 197);
            }
            &:hover{
                background-color: grey;
                width: 200px;
            }
        }
    }
}


.shop{
    height: 100vh;
    display: grid;
    grid-template-columns: 85px 1fr;
    grid-template-rows: 80px 2fr 1fr;
    align-items: center;
    justify-items: center;
    overflow-x: hidden;
    .shop-section__title{
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        justify-self: flex-start;
        align-self: flex-start;
        font-family: "SuperLegendBoy";
        font-size: 4rem;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, .6);
        color: white;
        user-select: none;
    }
    &__title{
        grid-column: 1 / 2;
        grid-row: 2;
        margin-left: 0px;
        font-family: "SuperLegendBoy";
        writing-mode: vertical-lr;
        text-orientation: upright;
        font-size: 5rem;
        align-self: center;
        color: rgba(241, 184, 211, 1);
        text-shadow: 5px 2px 0px rgba(255, 255, 255, 1);   
    }
    &__title-esp{
        grid-column: 1 / 2;
        grid-row: 2;
        margin-left: 0px;
        font-family: "SuperLegendBoy";
        writing-mode: vertical-lr;
        text-orientation: upright;
        font-size: 4rem;
        align-self: center;
        color: rgba(241, 184, 211, 1);
        text-shadow: 5px 2px 0px rgba(255, 255, 255, 1);   
    }
    &__cardcontainer{
        grid-column: 2 / 3;
        grid-row: 2 / 3;

        max-width: 300px;
        max-height: 500px;
        width: 100%;

        display: flex;
        
        overflow-x: scroll;
        scrollbar-width: auto;
        scroll-snap-align: start;
        
        .shop-card{
            &__content{
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                background-color: white;
                height: 450px;
                padding: 10px;
                border-radius: 10px;
                margin: 10px 10px;
                user-select: none;
                &--title{
                    font-family: "SuperLegendBoy";
                    font-size: 1.3rem;
                    text-align: center;
                }
                &--img{
                    width: 250px;
                    object-fit: cover;
                    box-shadow: 5px 5px 3px rgba(0, 0, 0, .9);
                }
                &--img_musica{
                    width: 250px;
                    object-fit: cover;
                    box-shadow: 5px 5px 3px rgba(0, 0, 0, .9);
                }
                &--img_rubacava{
                    width: 250px;
                    height: 250px;
                    object-fit: cover;
                    box-shadow: 5px 5px 3px rgba(0, 0, 0, .9);
                }

                &--description{
                    margin-top: 10px;
                    font-family: "SuperLegendBoy";
                    text-align: center;
                }
                &--description2{
                    margin-top: 0px;
                }
                &--btn{
                    align-self: center;
                    z-index: 10;
                    width: 100px;
                    height: 40px;
                    padding: 12px 10px;
                    font-family: "SuperLegendBoy";
                    font-size: 10px;
                    text-align: center;
                    text-transform: uppercase;
                    text-decoration: none;
                    letter-spacing: .1rem;
                    background-color: rgb(0, 0, 0);
                    border-radius: 13px;
                    color: rgb(255, 255, 255);
                    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.527);
                }
            }
        }
    }
    .sel-container{
        grid-column: 1 / 3;
        grid-row: 3 / 4;
        align-self: flex-start;
        width: 100%;
        margin-top: 40px;
        background-color: white;
        &__selector{
            position: relative;
            top:0;
            width: 100%;
            padding: 10px;
            display: flex;
            flex-direction: column;
            background-color: rgba(255, 255, 255, 1);
            &--link{
                margin: 2px 2px;
                font-family: "SuperLegendBoy";
                font-size: 20px;
                text-align: justify;
                letter-spacing: 2px;
                text-shadow: 2px 2px 0px rgba(0, 0, 0, .6);
                a {
                    color: rgb(241, 93, 197);
                }
                &:hover{
                    background-color: grey;
                    width: 200px;
                }
            }
        }        
    }
}

#merch{
    background-color: orange;
}

#sonidos{
    background-color: green;
}

#musica{
    background-color: blue;
}

#cursos{
    background-color: rgb(0, 0, 0);
}