%brandtitle-small {
    padding: 10px;
    font-family:'Antic Didone';
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-size: 1rem;
    letter-spacing: .4rem;
    text-align: center;
}

%brandtitle-large {
    padding: 10px;
    font-family:'Antic Didone';
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-size: 1.5rem;
    letter-spacing: 1rem;
    text-align: center;
    -webkit-transform: scale(1, 1.2);
    -moz-transform: scale(1, 1.2);
    -o-transform: scale(1, 1.2);
    transform: scale(1, 1.2);
}

%titlepink {
    font-family: 'Abril Fatface', 'Amiri';
    color: rgba(241, 184, 211, 1);
    font-weight: normal;
    text-align: center;
}

%titleblack {
    font-family: 'Abril Fatface', 'Amiri';
    color: rgb(0, 0, 0);
    font-weight: normal;
    text-align: center;
}

%subtitlewhite {
    font-family: 'Abril Fatface', 'Amiri';
    color: rgb(255, 255, 255);
    font-weight: normal;
}

%slogan1{
    font-family:'Amiri';
    color: rgb(255, 255, 255);
    font-weight: normal;
}

%nav__link-lg {
    font-family: 'Abril Fatface', 'Amiri';
    color: pink;
    letter-spacing: 4px;
    line-height: 3.2rem;
    font-size: 3rem;
}

%nav__link-ms {
    font-family: 'Abril Fatface', 'Amiri';
    color: pink;
    letter-spacing: 4px;
    line-height: 3.2rem;
    font-size: 3rem;
}

%nav__link-sm {
    font-family: 'Abril Fatface', 'Amiri';
    color: pink;
    letter-spacing: 4px;
    line-height: 3.2rem;
    font-size: 3rem;
}
