@keyframes shine {
    0%{
    top: 310px;
    right: 100px;
    background: rgba(238, 187, 231, .7);
    }
    100% {
        top: -250px;
        right: -150px;
        background: white;
    }
}

@keyframes float {
    0% {
        transform: translateY(-1px);
    }
    50% {
        transform: translateY(1px);
    }
    100% {
        transform: translateY(-1px);
    }
}


