/* MAPS */

$sections:(
    fontprimaria: "Amiri",
    fontsecundaria: "Antic Didone",
    fontsuplente: "Abril Fatface",

    fweight-light: lighter,
    fweight-bold: bolder,

    bg-colorblack: black,
    bg-colorpink: rgb(226, 126, 218), /* rgba(241, 184, 211, 1) */
    bg-colorred: rgb(240, 38, 48),

    colorblue: rgb(36, 49, 160),
    colorpink: rgb(226, 126, 218)
    );
