/* MAPS */

$sections:(
    fontprimaria: "Abril Fatface",
    fontsecundaria: "Antic Didone",
    fontsuplente: "Amiri",

    fweight-light: lighter,
    fweight-bold: bolder,

    bg-colorblack: black,
    bg-colorpink: rgba(241, 184, 211, 1)
);
