@mixin w-h-pad($w, $h, $pad){
    width: $w;
    height: $h;
    padding: $pad;
}

@mixin descripcion ($txtal, $fsize){
    text-align: $txtal;
    font-size: $fsize;    
}

@mixin cajas($width, $height, $pa){
    width: $width;
    height: $height;
    padding: $pa;
}